{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 text-center login">
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <p class="largetext">Username</p>
            <p><input type="text" name="username" value="" size="50" /></p>
            <p class="largetext">Password</p>
            <p><input type="password" name="password" value="" size="50" /></p>
            <p><input class="btn btn-default" type="submit" value="submit" /></p>
        </form>
    </div>
</div>
{% endblock %}