#mapfroverview { 
	height: 400px; 
}

#mapfr {
	height: 300px; 
}

.country {
	fill:#aaaaaa;
	stroke:#fff;
	stroke-width:0.25;
}

.selected {
	fill:#D33F49;
}

.fieldreportoverview {
	border-bottom-color:#aaa;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.keyfigure {
	font-size:1.0em;
}

.keyfiguretitle {
	font-size:1.0em;
}

.maintext {
	font-size:1.4em;
	max-width:900px;
	margin: 0 auto
}

.larger {
	font-size:1.4em
}